rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /animeCollection_v4/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /animeCollection_backup_v4/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /animeCollection_apiv4_appv2/{document=**} {
      allow read, write: if request.auth != null;
    }
    match /animeCollection_apiv4_appv2_backup/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}